* {
    box-sizing: border-box;
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    height: 100%;
}

#main {
    background: white;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculatorMain {
    background-color: #d4d3d3;
    color: white;
    height: 350px;
    width: 300px;
    padding: 10px;
}

#screen {
    background-color: white;
    color: black;
    margin-top: 2px;
    margin-left: 20px;
    width: 90%;
    height: 15%;
}

#topDiv {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    height: 250px;
    width: 280px;
    margin-top: 20px;
}

#bottomDiv {
    height: 50px;
    width: 350px;
}

#screenNumber {
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: right;
}

button {
    margin-top: 5px;
    margin-left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    border-style: solid;
    border-color: black;
}

.blankDiv {
    margin-top: 5px;
    margin-left: 5px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

#equal {
    background-color: orange;
}

#clear {
    background-color: aqua;
    margin-top: 5px;
    margin-left: 5px;
}

#add, #subtract, #multiply, #divide {
    background: rgb(166, 245, 166);
}
